img {
    width: 220px;
    height: 70px;
    margin-top: 10%;
  }

  .upper-content {
    position: absolute;
    right: 3%;
  }

  .logo-p {
    margin-top: 8px;
  }

  .logo-date-input {
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    width: 70%;
    margin-top: 2%;
  }

  .office-content {
    margin-top: 20%;
  }

  .form-data {
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    width: 30%;
  }

  .sign {
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    width: 15%;
  }

  #company_name {
    font-size: 22px;
    font-weight: 700;
  }

  .form-data-1 {
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    width: 24%;
  }